---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
	  {% if post.tags contains 'private' %}
	  
	  {% else %}
	    <article class="post">

	      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

	      <div class="entry">
	        {{ post.excerpt }}
	      </div>

	      <p><small>{{ post.date | date_to_long_string }}</small></p>
	      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
	    </article>
	  {% endif %}  
  {% endfor %}
</div>
